## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>

        <title>Dashboard</title>

        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }
        <link rel="stylesheet" href="/path/to/material-icons/iconfont/material-icons.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">


    </head>
    <body>


        <main>
            <%block name="content">
                Site content goes here in sub-templates.
            </%block>
        </main>

        <footer>
        </footer>

    </body>
</html>
